header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;

    .logo {
        width: 40%;
        display: flex;
        align-items: center;

        img {
            width: 100%;
        }

        @media screen and (min-width: 768px) {
            width: 25%;
        }
    }

    nav {
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        display: none;

        a {
            text-decoration: none;
            color: #000;
        }

        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    .btn {
        background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
        border-radius: 10px;
        border: 0;
        color: white;
        padding: 10px 20px;
        display: none;
    }

    .menu-toggle {
        width: 25px;
        height: 25px;
        background: url(../images/menu.svg) no-repeat;
        background-size: contain;
        background-position: center center;
        cursor: pointer;
    }
}