@import "./assets/components//card/card.styles";
@import "./assets/components/footer/footer.styles";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    text-align: center;
    font-family: 'Red Rose';

    // general styles
    .keyword {
        color: #A02279;
    }

    .sponsors {
        background-color: #A02279;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        padding: 10px 0;

        img {
            height: 30px;
        }

        @media screen and (min-width: 480px) {
            justify-content: space-around;
            flex-direction: row;
        }
    }

    main {
        margin: 5vh 0;

        h1 {
            font-weight: bold;
            margin-bottom: 20px;
            padding: 0 20px;
        }

    }


}

.filters {
    margin: 20px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    span {
        margin-bottom: 5px;
    }

    .filter {
        padding: 5px 10px;
        width: 120px;
        background: 0;
        border-radius: 5px;
        border: 1px solid #B4B4B4;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @media screen and (min-width: 768px) {
        margin: 50px;
    }
}

.gift-cards {
    background: #A02279;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .gift-left {
        width: 80%;
        text-align: center;
        order: 2;

        h1,
        p {
            margin-bottom: 20px;
        }

        @media(min-width: 768px) {
            text-align: left;
            width: 40%;
            order: 1;
        }
    }

    button {
        background: #fff;
        color: #A02279;
        padding: 10px 15px;
        font-weight: bold;
        border-radius: 5px;
        border: 0;
    }

    .gift-right {
        width: 80%;
        order: 1;

        img {
            width: 100%;
        }

        @media screen and (min-width: 768px) {
            order: 2;
            width: 50%;
        }
    }

    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
    }
}